// Responsive general, ya no afecta a las cards

// --- Media Query para pantallas pequeñas (sm: desde 576px y más grandes) ---
@include responsive(sm) {
  .navbar-brand img {
    max-width: 120px;
  }

  .img-senal {
    img {
      width: 30%;
    }
  }
}

// --- Media Query para pantallas medianas (md: desde 768px y más grandes) ---
@include responsive(md) {
  .section-principal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 60px 60px 0px 60px;
    gap: 2rem;
  }

  .texto {
    flex: 1 1 55%;
    max-width: 500px;
    text-align: left;
  }

  .imagen {
    flex: 1 1 40%;
    justify-content: center;
    margin-bottom: 0;

    img {
      width: 100%;
      max-width: 500px;
    }
  }

  .titulo {
    font-size: 35pt;
  }
}
