// Colores
$color-fondo: #ededed;
$color-texto: #000000;

$font-primary: "Montserrat", sans-serif;

$color-bg: #ededed;
$color-text: #000000;
$color-accent: #FF6633;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
