.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  padding: 30px;

  .form-field {
    display: flex;
    flex-direction: column;

    &.full {
      grid-column: span 2;
    }
  }
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  @extend %font-base;
}

input[type="submit"] {
  background-color: $color-accent;
  color: white;
  @extend %btn;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}
